.wrapper{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1300px;
    margin:90px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: 
    "ad bd"
    "cd dd"
    "ed fd";
}
#bx1{
    grid-area: ad;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}
#bx2{
    grid-area: bd;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}
#bx3{
    grid-area: cd;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}
#bx4{
    grid-area: dd;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}
#bx5{
    grid-area: ed;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}
#bx6{
    grid-area: fd;
    box-shadow: 10px 10px 10px grey,-5px -5px 10px grey;
}

header{
    max-width: 130x;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    background-color: #efefef;
}

header h1{
    text-decoration: underline;
}

header div:first-child{
    justify-self: left;
}

header div:last-child{
    justify-self: right;
}
img{
    width: 20px;
    height: 20px;
}